@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* ---------P1-------------- */

.container {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1332px;
}
.padding-section {
  margin-bottom: 2rem;
}
.site-menu-main .drop-trigger {
  line-height: 10px;
}
.nav-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
ul.site-menu-main .nav-item .dropdown-icon {
  transform: rotate(90deg);
  transition: all 0.4s ease-in-out;
}
ul.site-menu-main .nav-item:hover .dropdown-icon {
  transform: rotate(0deg);
}

.site-menu-main .sub-menu {
  z-index: 500;
  background-color: white;
  position: absolute;
  margin: 0;
  padding: 12px 0;
  transition: 0.4s;
  z-index: 4;
  transform: translatey(20px);
  opacity: 0;
  visibility: hidden;
  min-width: 200px;
  border-radius: 6px;
}
li.nav-item-has-children:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 99;
  padding-top: 5x;
  pointer-events: visible;
  border-radius: 6px;
  transform: translateY(0);
}

.site-menu-main ul {
  list-style: none;
  margin-left: 0;
}
.site-menu-main .sub-menu:before {
  position: absolute;
  content: "";
  z-index: 8;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(255, 255, 255);
}
.site-menu-main .sub-menu-item {
  font-size: 15px;
  font-weight: 600;
}
.site-menu-main .sub-menu-item a:hover {
  color: #fe330a;
}
.site-menu-main .sub-menu-item a {
  transition: 0.4s;
}
.site-menu-main .sub-menu-item a {
  color: inherit;
  padding: 10px 20px;
  color: #000;
}
.nav-item-has-children a {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.site-menu-main a {
  text-decoration: none;
}
/* menu-children  */

.site-menu-main .sub-menu .sub-menu {
  top: 0;
  left: 100%;
  opacity: 0;
}
.site-menu-main .sub-menu:hover .sub-menu {
  opacity: 1;
}

/* -------------P2------------- */
.hero-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}
h1 {
  font-size: 120px;
  font-weight: 650;
  line-height: 1;
  margin-bottom: 10px;
}

.hero-content-title .but {
  margin-bottom: 4rem;
}
.hero-img .img-content {
  padding: 20px 0;
}
/* ---------P4_Cord-features------- */
@media (min-width: 992px) {
  .site-menu-main {
    column-gap: 30px;
    flex-direction: row;
  }
}
@media (width > 1200px) {
  .site-menu-main {
    column-gap: 50px;
  }
}

/* --------------------------------  */
.button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  overflow: hidden;
  transition-property: all;
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition-duration: 300ms;
}
.button::after {
  content: "";
  position: absolute;
  inset: 0px;
  left: 0px;
  top: 0px;
  z-index: -1;
  transform-origin: top right;
  opacity: 1;
  transition-duration: 300ms;
  background-color: #fe330a;
  transform: scaleY(0);
}
.button:hover::after {
  transform: scaleY(1);
}
.orange-gradient-1 {
  background: radial-gradient(50% 50% at 50% 50%, #ff9933 0%, #fe330a 100%);
  filter: blur(55px);
}
.orange-gradient-2 {
  background: radial-gradient(50% 50% at 50% 50%, #fe330a 0%, #ff9831 100%);
  filter: blur(55px);
}

.text-slider {
  animation: slide-right-to-left 10s linear infinite normal forwards;
}
@keyframes slide-right-to-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
